@import 'tailwindcss/base';

@import 'assets/css/font.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.soft-switch {
  transition: all 100ms ease-in-out;
}

body,
body.dark {
  --white: #ffffff;
  --dark-500: #1c1c1c;
  --dark-300: #3f3f3f;
  --dark-200: #585858;
  --dark-100: #969696;
}

body.light {
  --white: #000000;
  --dark-500: #ffffff;
  --dark-300: #dedede;
  --dark-200: #969696;
  --dark-100: #585858;
}
